# Unity cache và temp folders
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
sysinfo.txt
# Crash logs
crash_*.txt
# Visual Studio, JetBrains Rider, VS Code files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/
*.sln.iml
.vscode/
# Gradle files
.gradle
build/
# Derived data cache
/DerivedDataCache/
# Build outputs
*.apk
*.aab
*.unitypackage
# Asset Store tools
/[Aa]ssets/AssetStoreTools*
# JetBrains IDEs
*.iml
*.ipr
*.iws
# System junk
.DS_Store
Thumbs.db
desktop.ini
# Unity Cloud Build
/[Cc]ollab/
/.cloud/
# Node/npm/yarn folders
node_modules/
.yarn/
.yarnrc.yml
# Logs
*.log
# Unity Addressables (cache files)
/Assets/AddressableAssetsData/*/*.bin
/Assets/AddressableAssetsData/*/*.bin.meta
/Assets/AddressableAssetsData/*/*.link
/Assets/AddressableAssetsData/*/*.link.meta
/Assets/AddressableAssetsData/*/*.catalog
/Assets/AddressableAssetsData/*/*.catalog.meta
# Build Report
*.buildreport
# Cache folders
.cache/
# JetBrains Local History
.idea/.idea.LocalHistory
# Environment variables
.env
*.fbx filter=lfs diff=lfs merge=lfs -text
